/*Header*/
div.header { 
    display: flex;
}

div.header>div {
    padding: 15px;
    background-color: #f2f2f2f2;
}

/*left-header*/
div.left-header {
    width: 20%;
    display: flex;
}

div.header-logo {
    position: relative;
    top: 16px;
    left: 20px;
}

div.header-firmenname {
    position: sticky;
    display: flex;
    left: 110px;
}

/*right-header*/
div.right-header {
    width: 20%;
}

.button-warenkorb {
    padding: 10px 20px;
    background-color: #3b393d;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 25px;
    right: -30px;
}

.button-login {
    padding: 10px 20px;
    background-color: #3b393d;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 25px;
    right: -60px;
}

/*main-header*/
div.main-header {
    width: 60%;
    margin: 0 5px; /*Trennbalken*/
}

div.header-suche {
    text-align: center;
    position: relative;
    top: 20px;
}

/*Navigation*/
.navigation {
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    border-radius: 10px;
    /* position: fixed; */
    /* bottom: 50px;
    left: 15px;
    top: 10px; */
}

div.navigation>a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

div.navigation>a:hover {
    background-color: #f2f2f2f2;
    color: #333;
}

/*Content*/
div.content {
    text-align: justify;
    display: flex;
}

div.left-content,
div.right-content {
    width: 20%;
}

div.main-content {
    width: 60%;
    margin: 0 5px;
    text-align: center;
}

div.content>div {
    padding: 15px;
    background-color: #f2f2f2f2;
}

/*Footer*/
div.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}


  

